content/coc/story2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
    <!--
        #############################################
        mod structure
    -->
    <xs:element name="mod">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="state"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="hook"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="exportable"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="version"/>
            <xs:attribute ref="xsi:noNamespaceSchemaLocation"/>
        </xs:complexType>
    </xs:element>
    <!--
        import = element import {
           attribute ref { text }
        }
    -->
    <xs:element name="state">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="var"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hook">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="daily"/>
                        <xs:enumeration value="hourly"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="var">
        <xs:complexType mixed="true">
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <!--
        export = element export {
           attribute ref { text }
        }
    -->
    <xs:element name="exportable" abstract="true"/>
    <xs:element name="lib" substitutionGroup="exportable">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="exportable"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="text" substitutionGroup="exportable">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="scene" substitutionGroup="exportable">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <!--
        #############################################
        monster
    -->
    <xs:element name="monster" substitutionGroup="exportable">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="name"/>
                <xs:element minOccurs="0" ref="desc"/>
                <xs:element minOccurs="0" ref="plural"/>
                <xs:element minOccurs="0" ref="a"/>
                <xs:element minOccurs="0" ref="pronouns"/>
                <xs:element minOccurs="0" ref="body"/>
                <xs:element minOccurs="0" ref="combat"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="script"/>
            </xs:sequence>
            <xs:attribute name="id" use="required"/>
            <xs:attribute name="base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="desc">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="plural">
        <xs:complexType/>
    </xs:element>
    <xs:element name="a" type="xs:string"/>
    <xs:element name="pronouns">
        <xs:complexType>
            <xs:attribute name="he" use="required"/>
            <xs:attribute name="his" use="required"/>
            <xs:attribute name="him" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="script">
        <xs:complexType mixed="true">
            <xs:attribute name="language">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="lua"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="body">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="vagina"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="penis"/>
                <xs:element ref="balls"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="breasts"/>
                <xs:element minOccurs="0" ref="anal"/>
                <xs:element minOccurs="0" ref="height"/>
                <xs:element minOccurs="0" ref="hips"/>
                <xs:element minOccurs="0" ref="butt"/>
                <xs:element minOccurs="0" ref="skin"/>
                <xs:element minOccurs="0" ref="hair"/>
                <xs:element minOccurs="0" ref="antennae"/>
                <xs:element minOccurs="0" ref="arms"/>
                <xs:element minOccurs="0" ref="beard"/>
                <xs:element minOccurs="0" ref="claws"/>
                <xs:element minOccurs="0" ref="ears"/>
                <xs:element minOccurs="0" ref="eyes"/>
                <xs:element minOccurs="0" ref="face"/>
                <xs:element minOccurs="0" ref="gills"/>
                <xs:element minOccurs="0" ref="horns"/>
                <xs:element minOccurs="0" ref="legs"/>
                <xs:element minOccurs="0" ref="rearBody"/>
                <xs:element minOccurs="0" ref="tail"/>
                <xs:element minOccurs="0" ref="tongue"/>
                <xs:element minOccurs="0" ref="wings"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="vagina">
        <xs:complexType>
            <xs:attribute name="virgin">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="true"/>
                        <xs:enumeration value="false"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="wetness"/>
            <xs:attribute name="looseness"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="penis">
        <xs:complexType>
            <xs:attribute name="length"/>
            <xs:attribute name="thickness"/>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="balls">
        <xs:complexType>
            <xs:attribute name="count"/>
            <xs:attribute name="size"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="breasts" type="xs:string"/>
    <xs:element name="anal">
        <xs:complexType>
            <xs:attribute name="looseness"/>
            <xs:attribute name="wetness"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="height" type="xs:string"/>
    <xs:element name="hips" type="xs:string"/>
    <xs:element name="butt" type="xs:string"/>
    <xs:element name="skin">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="base"/>
                <xs:element minOccurs="0" ref="coat"/>
            </xs:sequence>
            <xs:attribute name="coverage" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="base">
        <xs:complexType>
            <xs:attributeGroup ref="skinLayer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="coat">
        <xs:complexType>
            <xs:attributeGroup ref="skinLayer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="hair">
        <xs:complexType>
            <xs:attribute name="length"/>
            <xs:attribute name="color"/>
            <xs:attribute name="type"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="antennae" type="xs:string"/>
    <xs:element name="arms" type="xs:string"/>
    <xs:element name="beard">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="length"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="claws">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="color"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ears" type="xs:string"/>
    <xs:element name="eyes">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="count"/>
            <xs:attribute name="color"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="face" type="xs:string"/>
    <xs:element name="gills" type="xs:string"/>
    <xs:element name="horns">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="count"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="legs">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="count"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="rearBody" type="xs:string"/>
    <xs:element name="tail">
        <xs:complexType>
            <xs:attribute name="type"/>
            <xs:attribute name="count"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tongue" type="xs:string"/>
    <xs:element name="wings" type="xs:string"/>
    <xs:attributeGroup name="skinLayer">
        <xs:attribute name="type"/>
        <xs:attribute name="color"/>
        <xs:attribute name="color2"/>
        <xs:attribute name="pattern"/>
        <xs:attribute name="adj"/>
        <xs:attribute name="desc"/>
    </xs:attributeGroup>
    <xs:element name="combat">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="level"/>
                <xs:element minOccurs="0" ref="str"/>
                <xs:element minOccurs="0" ref="tou"/>
                <xs:element minOccurs="0" ref="spe"/>
                <xs:element minOccurs="0" ref="int"/>
                <xs:element minOccurs="0" ref="wis"/>
                <xs:element minOccurs="0" name="lib" type="xs:string"/>
                <xs:element minOccurs="0" ref="sen"/>
                <xs:element minOccurs="0" ref="cor"/>
                <xs:element minOccurs="0" ref="weapon"/>
                <xs:element ref="armor"/>
                <xs:element minOccurs="0" ref="bonusHP"/>
                <xs:element minOccurs="0" ref="loot"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="level" type="xs:string"/>
    <xs:element name="str" type="xs:string"/>
    <xs:element name="tou" type="xs:string"/>
    <xs:element name="spe" type="xs:string"/>
    <xs:element name="int" type="xs:string"/>
    <xs:element name="wis" type="xs:string"/>
    <xs:element name="sen" type="xs:string"/>
    <xs:element name="cor" type="xs:string"/>
    <xs:element name="weapon">
        <xs:complexType>
            <xs:attribute name="name"/>
            <xs:attribute name="verb"/>
            <xs:attribute name="attack"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="armor">
        <xs:complexType>
            <xs:attribute name="name"/>
            <xs:attribute name="defense"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="bonusHP" type="xs:string"/>
    <xs:element name="loot">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="gems"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="item"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="gems">
        <xs:complexType mixed="true">
            <xs:attribute name="min"/>
            <xs:attribute name="max"/>
            <xs:attribute name="value"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="item">
        <xs:complexType mixed="true">
            <xs:attribute name="weight"/>
        </xs:complexType>
    </xs:element>
    <!--
        #############################################
        textual content
    -->
    <xs:group name="content">
        <xs:sequence>
            <xs:choice minOccurs="0">
                <xs:element ref="b"/>
                <xs:element ref="i"/>
                <xs:element ref="font"/>
                <xs:element ref="if"/>
                <xs:element ref="switch"/>
                <xs:element ref="xcc-content"/>
            </xs:choice>
        </xs:sequence>
    </xs:group>
    <xs:element name="b">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="i">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="font">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:attribute name="color"/>
        </xs:complexType>
    </xs:element>
    <!-- xcc-named-content = Text | String | lib | story | macro | extend-story | zone | extend-zone -->
    <xs:element name="xcc-content" abstract="true"/>
    <!--
        | xcc-named-content | dynStats | Include
        namedBlock = attribute name { text }?, content*
        String = element string { namedBlock }
    -->
    <xs:element name="set" substitutionGroup="xcc-content">
        <xs:complexType mixed="true">
            <xs:attribute name="var" use="required"/>
            <xs:attribute name="in"/>
            <xs:attribute name="op">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="append"/>
                        <xs:enumeration value="set"/>
                        <xs:enumeration value="add"/>
                        <xs:enumeration value="+="/>
                        <xs:enumeration value="="/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="value"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="display" substitutionGroup="xcc-content">
        <xs:complexType>
            <xs:attribute name="ref" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="output" substitutionGroup="xcc-content" type="xs:string"/>
    <!--
        extend-story = element extend-story { namedBlock }
        zone = element zone {
           namedBlock,
           encounter*
        }
        extend-zone = element extend-zone {
           namedBlock,
           encounter*
        }
        encounter = element encounter {
           attribute name { text },
           attribute chance { expression }?,
           attribute when { expression }?,
           content*
        }
        dynStats = element dynStats {
           attribute str { expression }?,
           attribute tou { expression }?,
           attribute spe { expression }?,
           attribute int { expression }?,
           attribute lib { expression }?,
           attribute sen { expression }?,
           attribute lus { expression }?,
           attribute cor { expression }?,
           attribute scale { expression }?,
           empty
        }
        Include = element include {
           attribute path { text },
           attribute required { "true" | "false" }?,
           empty
        }
    -->
    <!--
        #############################################
        xlogic
    -->
    <xs:element name="if">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" ref="if-big"/>
            <xs:attribute name="test" use="required"/>
            <xs:attribute name="then"/>
            <xs:attribute name="else"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="if-big">
        <xs:sequence>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="elseif"/>
            <xs:group minOccurs="0" ref="else"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="if-short">
        <xs:attribute name="then" use="required"/>
        <xs:attribute name="else"/>
    </xs:attributeGroup>
    <xs:group name="elseif">
        <xs:sequence>
            <xs:element ref="elseif"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="elseif">
        <xs:complexType>
            <xs:attribute name="test" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:group name="else">
        <xs:sequence>
            <xs:element ref="else"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="else">
        <xs:complexType/>
    </xs:element>
    <xs:element name="switch">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="case"/>
                <xs:element minOccurs="0" ref="default"/>
            </xs:sequence>
            <xs:attribute name="value"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="case">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
            <xs:attribute name="test"/>
            <xs:attribute name="value"/>
            <xs:attribute name="values"/>
            <xs:attribute name="lt"/>
            <xs:attribute name="gt"/>
            <xs:attribute name="ne"/>
            <xs:attribute name="lte"/>
            <xs:attribute name="gte"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="default">
        <xs:complexType mixed="true">
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="content"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
